body {
    background: linear-gradient(#745A32, #3D3414);
    background-attachment: fixed;
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

#title {
    text-align: center;
    letter-spacing: 5px;
}

#title-Main {
    font-size: 30px;
}

#add {
    background-color: #67563C;
    color: antiquewhite;
    margin: 0%;
    padding: 2%;
}

#add-title {
    font-size: 25px;
}

footer {
    background-color: #201E1A;
    margin: 0%;
    padding: 2%;
    text-align: center;
}


/*ADJUSTING THE MAIN LOGO */

#logoP {
    height: 250px;
    float: left;
}

#divLogo {
    background-color: #1C1B1A;
    background-image: url("./assets/55579.png");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: right top;
    height: 430px;
    margin: 0%;
    padding-left: 2%;
    padding-top: 12%;
    text-align: left;
}


/* ANIMATIONS */

.lineUp {
    animation: 3.5s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}